@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-mont : 'Montserrat', sans-serif;
@font-openSan : 'Open Sans', sans-serif;
@font-paco:  'Pacifico', cursive;
@color:hsl(263, 36%, 55%);
@white:#fff;
@black:#000;
@gray:#414141;
@black2: #222;
@color-default:#d1d1d1;
@yellow: #f8ba04;
@price: #a1a1a1;
@gray-footer:#545454;
@background-ft: #222;
@date-background: #a1d1dd;
@line-post:#dbdbdb;
@dot: #b3a6c7;
@hidden-item-bg:#868686;
@hover-btn:#c4aaee;
@btn:#8262b5;
