/*<-----------------------------------3.1 Home_page_content--------------------------------------------->*/
/*<----------3.1.1 Content Page 1--------------->*/

/*<----------banner--------------->*/
.banner .row {
    display: flex;
    flex-wrap: wrap;
}
.banner .container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.no-padding {
    padding: 0;
}
.banner-left {
    position: relative;
    .banner-left__preview {
    width: 100%;
    margin: 50px 0 0 -15px;
    .banner-img img {
        width: 102.5%;
        }
    }
}
.banner-right {
    width: 100%;
    margin-top: 50px ;
    margin-left: 6px;
    margin-right: 10px;
}
.banner-right__preview-bot {
    margin-top: 30px;
    img {
        position: relative;
        width: 102.5%;
    }
}
.banner-left .banner-content .title h2 {
    font-weight: bold;
    font-family: @font-paco;
    letter-spacing: -1.2px;
    width: 120%;
    padding: 0 10px;
    font-size: calc(2.03rem);
}
.banner-left .banner-content .title {
    left: calc(62% + 0px);
    top: calc(64% + 0rem);
    .transform(-50%, -50%);
    position: absolute;
}
.banner-content .banner-left__preview--btn {
    background: @btn;
    width: calc(1rem + 2vw + 53px);
    line-height: calc(1rem + 1vw + 4px) ;
    text-align: center;
    cursor: pointer;
    font-size: calc(0.3rem + 0.5vw);
    a{
        color: @white;
    }
    a:hover {
        text-decoration: none;
    }
}
.banner-content .banner-left__preview--btn:hover {
    background: @hover-btn;
}
.banner-left .banner-content .banner-left__preview--btn {
    position: absolute;
    left: calc(79% + 0px);
    top: calc(58% + 5rem);
    .transform(-47%, -42%);
}
.banner-right__preview-top .banner-img img {
    width: 102.5%;
}
.banner-right .banner-content .title {
    top: calc(20%);
    .transform(-46%, 20%);
    left: 50%;
    position: absolute;
    width: 65%;
    text-transform: uppercase;
    h2 {
        font-weight: 800;
        font-family: @font-mont;
        font-size: calc(1.23rem);
        line-height: 52%;
    }
    h3 {
        font-family: @font-mont;
        font-size: calc(1.1rem);
        letter-spacing: 1.6px;
    }
}
.banner-right .banner-right__preview-bot  .banner-content .title {
    top: calc(65%);
    .transform(-53%, 3%);
    left: 50%;
    position: absolute;
    width: 65%;
    text-transform: uppercase;
    h2 {
        font-weight: 800;
        font-family: @font-mont;
        font-size: calc(1.22rem);
        line-height: 52%;
    }
    h3 {
        font-family: @font-mont;
        font-size: calc(1rem);
        letter-spacing: 2.6px;
        padding-bottom: 2px;
    }
}
.banner-right .banner-right__preview-bot  .banner-content .banner-left__preview--btn {
    position: absolute;
    left: 25%;
    top: 75%;
    .transform(-31%, 4%);
}
/*-- banner end --*/

/*<----------3.1.1 Content Page 2--------------->*/

/*<----------product--------------->*/

.product .container {
    padding: 9px 0;
    margin: auto;
} .product__title-area {
   margin-top: 66px;
   text-transform: uppercase;
   position: relative;
   margin-left: -2px;
   h3 {
       font-size: 14px;
       line-height: 18px;
       letter-spacing: 4.5px;
       color: @color;
       font-weight: 700;
   }
   h2 {
       font-size: 25px;
       font-weight: 700;
       letter-spacing: 1.6px;
   }
}
.product img {
    width: 100%;
}
.product-single__img a {
    position: relative;
    display: inline-block;
}
.product-single:hover .hidenitem {
    opacity: 1;
    margin-right: 6%;
    transition: 0.5s;
}
.hidenitem {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    display: block;
    a:hover i {
        color: @gray;
    }
    i {
        padding: 9px;
        background: @hidden-item-bg;
        color: @white;
        border-radius: 5px;
    }
}
.product__title-area::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid @black;
    width: 50px;
    top: calc(98px - 1vw )
}
.product .row {
   margin-top: 73px;
}
.product-single {
    padding-bottom: 43px;
    width: 100%;
}
.pro-desc a {
    font-size: 12px;
    color: @black;
    font-weight: 700;
    letter-spacing: 0.8px;
}
.pro-desc a:hover {
    text-decoration: none;
    color: @color;
}
.product-single__content--ratting {
    margin-top: -10px;
    a {
        text-decoration: none;
        span {
            color:@color-default;
            font-size: 20px;
            margin-right: -8px ;
        }
        span:hover {
            color: @yellow;
        }
    }
}
.product-single__content--price span{
    font-size: 16px;
    font-family: @font-openSan;
}
span.price-old {
    color: @color-999;
    text-decoration: line-through;
}
span.price-real {
    color: @color;
    font-weight: bold;
}
.product-img {
    position: relative;
}
.product-single__content--add-cart {
    top: 53%;
    .transform(calc(-74% - 2vw), 187%);
    left: 50%;
    position: absolute;
    a {
        background: @white;
        // padding: calc(0.6*1vw) calc(0.85*1vw);
        padding: 12px 16px;
        text-transform: uppercase;
        font-size: 12px;
        color: @black;
    }
    a:hover {
        text-decoration: none;
        color: @color;
    }
}
/*---responsive---*/
@media (min-width:827px) and (max-width: 1136px) {
    .banner-left .banner-content .title {
        .transform(-58%, -42%);
        h2 {
            width: 140%;
            font-size: calc(1.8rem);
        }
    }
    .banner-left .banner-content .banner-left__preview--btn {
        .transform(-80%, 13%);
    }
}
@media (min-width:615px) and (max-width: 827px) {
    .banner-left .banner-content .title {
        .transform(-55%, -42%);
        h2 {
            font-size: calc(2rem);
            width: 161%;
        }
    }
    .banner-left .banner-content .banner-left__preview--btn {
        .transform(-40%, 13%);
    }
}
@media (min-width:504px) and (max-width: 615px) {
    .banner-left .banner-content .title {
        .transform(-55%, -42%);
        h2 {
            font-size: calc(1.53rem);
            width: 161%;
        }
    }
    .banner-left .banner-content .banner-left__preview--btn {
        .transform(-25%, -100%);
    }
}
@media all and (max-width: 503px) {
    .product .product-single {
        margin-left: 20px;
        text-align: center;
        img {
            width: auto;
        }
    }
    .product .container {
    width: 100%;
    }
    .row .banner-res {
        display: none;
    }
    .banner-right {
        width: 100%;
        margin-top: 30px;
        padding-right: 22px;
        padding-left: 5px;
    }
    .banner-left .banner-content .title {
        .transform(-65%, -42%);
        h2 {
            font-size: 1.5rem;
            width: 151%;
        }
    }
    .banner-left .banner-content .banner-left__preview--btn {
        .transform(-40%, -100%);
    }
    .banner-right .banner-right__preview-bot .banner-content .banner-left__preview--btn {
        .transform(-42%, 4%);
    }
    .row .banner-left {
        margin: 15px 0 0 25px;
    }
    .product .container .row {
        width: 100%;
    }
    .product__title-area {
        padding: 0 30px;
    }
}    
@media (min-width:991px) and (max-width:1007px) {
    .product .row {
        width: 100%;
    }
}
@media all and (min-width:991px) {
    .banner-res {
        display: none;
    }
}
@media (min-width: 501px) and (max-width:991px)  {
    .banner-pc {
        display: none;
    }
    .product .container .row {
        width: 100%;
    }
    .row .banner-left {
        margin: 15px 40px 0 25px;
        padding: 0;
        .banner-left__preview {
            margin: 50px 0 0 0;
        }
    }
    .banner-res {
        display: flex;
        margin-top: 20px!important;
        img {
            width: 100%,
        }
        .banner-right {
            &__preview-top {
                margin: 0;
                .title {
                    top: 30%;
                    h2 {
                        font-size: 2.5vw;
                    }
                    h3 {
                        font-size: 2.5vw;
                    }
                }
            }
            &__preview-bot {
                margin: 0;
                .banner-content .title {
                    top: 36%;
                    h2 {
                        font-size: 2.5vw;
                    }
                    h3 {
                        font-size: 2.5vw;
                    }
                }
                .banner-content .banner-left__preview--btn {
                    left: calc(26% - 2vw);
                    width: calc(1rem + 8vw);
                    line-height: 4vw;
                }
            }
        }
        img {
            width: 100%;
        }
    }
    .product__title-area {
        margin-top: 50px;
    }
}
.responsive {
    .product .product-single {
        text-align: center;
        img {
            width: auto;
        }
    }
    .banner-right {
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media (min-width: 501px) and (max-width:600px) {
    .banner-left{
        margin: 15px 15px 0 25px;
    }
    .product .container .row {
        width: 100%;
    }
    .product__title-area {
        padding: 0 30px;
    }
    .product .product-single {
        text-align: center;
        img {
            width: auto;
        }
    }
    .banner-right {
        padding-right: 3px;
        padding-left: 3px;
    }
}
@media (min-width: 501px) and (max-width:768px) {
    .responsive
}
@media (min-width: 501px) and (max-width:900px) {
    .responsive
}