/*-----------1.2.1.footer-top -------------*/
.footer {
    background-color: @background-ft;
    margin-top: 3px;
    position: relative;
    .container {
        padding: 0;
        width: 100%;
        max-width: 1140px;
        .row {
            width: 100%;
        }
    }
}
.footer::after {
    content:'';
    position: absolute;
    border: 1px solid @gray-footer;
    bottom: calc(10% + 28px);
    width: 100%;
}
.head-footer {
    color: @white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    h3 {
        font-size: 17px;
    }
    .about {
        position: relative;
    }
    p {
        width: 73% ;
    }
    .navi {
        position: relative;
        padding-left: 8px;
        
    }
    .location {
        position: relative;
        padding-left: 21px;
    }
}
.about::after {
    content:'';
    position: absolute;
    border: 1px solid @gray-footer;
    top: 226%;
    width: 72%;
}
.navi::after {
    content:'';
    position: absolute;
    border: 1px solid @gray-footer;
    top: 226%;
    width: 79%;
}
.location::after {
    content:'';
    position: absolute;
    border: 1px solid @gray-footer;
    top: 226%;
    width: 100%;
}
.cakewalk-content {
    color: @gray-footer;
    margin-top: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
    display: flex;
    ul li {
        line-height: 30px;
        font-size: 13px;
        a {
            color: @gray-footer;
        }
        a:hover {
            color: @white;
        }
    }
    .content-1 {
        width: 30%;
        padding-left: 8px;
        margin-top: -2px;
        margin-right: 30px;
    }
    .content-2 {
        width: 70%;
        float: right;
        margin-top: -2px;
        letter-spacing: 0.3px;
        padding-left: 50px;
    }
    .icoi-2 {
        padding: 6px 13px 0 23px ;
    }
    .address {
        margin-top: -3px;
        ul li {
            line-height: 33px;
            letter-spacing: 0.2px;
            width: 90%;
        }
    }
}
.contact-with {
    margin-top: 22px;
}
/*-----------1.2.2.footer-bottom -------------*/
.footer-bottom {
    background: @background-ft;
    height: 93px;
    .container {
        padding: 0;
    }
}
.row address {
    padding-top: 8.2%;
    color: @gray-footer;
    font-size: 14px;
    a {
        font-size: 13px;
    }
}
.footer-bottom .row {
    padding: 0;
    margin: 0;
}
.footer-payment {
    padding-top: 7.5%;
    width: 100%;
}
/*----responsive----*/
@media all and (max-width:360px) {
    .head-footer .col-12 {
        padding: 0 30px 20px 30px;
    }
}
@media all and (max-width:600px) {
    .head-footer .col-12 {
        padding: 0 30px 20px 30px;
    }
    .head-footer {
        text-align: center;
        .about::after {
            width: 100%;
            right: 0%;
        }
        p {
            width: 100%;
        }
        .navi {
            padding: 0;
        }
        .navi::after {
            width: 100%;
            right: 0%;
        }
        .location {
            padding: 0;
            .icoi-2 {
                padding: 0;
            }
            .address {
                padding: 0;
            }
        } 
        .location::after {
            width: 100%;
            right: 0%;
        }
    }
}
@media (min-width:601px) and (max-width:768px) {
    .head-footer .col-12 {
        padding: 0 30px 20px 30px;
    }
    .head-footer {
        .about {
            text-align: center;
        }
        .about::after {
            width: 100%;
            right: 0%;
        }
        p {
            width: 100%;
            text-align: center;
        }
    }    
}
